/web_application/my-day-analyze-f7d79d96a0ff.json

/assistant/*

#!/tg_bot/prototype.ipynb
!/assistant/data_fetcher.py
!/assistant/data_parser.py
!/assistant/db.py
!/assistant/data_markup.py
!/assistant/tg_to_sql.py
!/assistant/models


/web_application/django-gradient-able