/web_application/my-day-analyze-f7d79d96a0ff.json

/tg_bot/*

#!/tg_bot/prototype.ipynb
!/tg_bot/data_fetcher.py
!/tg_bot/data_parser.py
!/tg_bot/db.py
!/tg_bot/data_markup.py
!/tg_bot/tg_to_sql.py


/web_application/django-gradient-able